body {
    font-family: sans-serif;
    background-color: bisque;
    color: black;
    font-size: 1rem;
}
[id] {
  color: red;
}

h1 {
  color: purple;
}

p {
  color: darkred;
}

.highlight {
    color: yellow;
}

#main-title {
  color: darkblue;
}

nav a {
    color: pink;
}
