{
  border: 1px solid black;
}
html {
    font-family: sans-serif;
    background-color: bisque;
    color: black;
    font-size: 1rem;
}
[id] {
  color: blue;
}

h1 {
  color: orange;
}

p {
  color: darkred;
}

.bold {
    font-weight: bold;
}

#main-title {
  color: darkblue;
}

nav a {
    color: pink;
}
